.course-list-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .content-wrapper {
    width: auto;
  }
  .padding-0 {
    padding: 0 !important;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .menu-filter {
    margin-top: 2rem;
  }
  .grid {
    display: grid;
    margin: 2rem 0;
    flex-grow: 1;
    grid-gap: 20px;
    align-content: center;
    //grid-auto-rows: 500px;
    grid-template-columns: 33% 33% 33%;

  }
}